.container {
    padding: 1%;
}

@media (max-width:600px) {
    .container {
        width: 98%;
        margin: auto;
    }
    .form-group {
        width: 100%;
    }
}

@media (max-width:990px) and (min-width: 600px) {
    .container {
        width: 85%;
        margin: auto;
    }
}

@media (max-width:1200px) and (min-width: 990px) {
    .container {
        width: 70%;
        margin: auto;
    }
}

@media (min-width:1200px) {
    .container {
        width: 70%;
        margin: auto;
    }
}